<!DOCTYPE html>
<html>
<html lang="en">

<head>
<!-- <base href="/"> -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
    <link rel="stylesheet" href="libcss/bootstrap.min.css">

    <link rel="stylesheet" href="css/main.css">

    <script src="libsJs/angular.min.js"></script>
    <script src="libsJs/angular-ui-router.min.js"></script>
    
    <script src="js/app.js"></script>
    
    <script src="js/searchCtrl.js"></script>

</head>

<body ng-app="searchModule" ng-controller="head">


<nav class="navbar navbar-inverse" role="navigation" >

    <div class="navbar-header">
        <a class="navbar-brand">Filters</a>
    </div>

    <ul class="nav navbar-nav">

            <li><a ui-sref="search({parameters:{{parms}}})">Search</a></li>


                <li ng-click="getDataOfDay(0)"><a>Today</a></li>
                <li ng-click="getDataOfDay(1)"><a>Tomorrow</a></li>
                <li ng-click="getDataOfDay(2)" style="margin-right: 30px;"><a>Day After</a></li>
                
                <li ng-click="searchByTrending('r')"><a>Recommended</a></li>

                <li ng-click="searchByTrending('t')"><a>Trending</a></li>

                <li ng-click="searchByTrending('n')"><a>Near You</a></li>

                <li ng-click="Performers('party')"><a>party</a></li>

                <li ng-click="Performers('band,dj,artist')"><a>band</a></li>



    </ul>   

</nav>




<div class="container">
    <div ui-view></div>
</div>

<footer style="border:1px solid #080808;background-color: #222;line-height: 50px;text-align: center;color: #fff;">
Footer
</footer>
</body>
</html>
