<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<style>
table, th , td  {
  border: 1px solid grey;
  border-collapse: collapse;
  padding: 5px;
}
</style>

<script>
var app = angular.module('tableApp', []);
app.controller('tableCtrl', function($scope, $http) {
    // $http({
    //   method:"GET",
    //   url:'records.json'
    // })
    // .then(function (response)
    // {
    //   $scope.records = response.data});
    $scope.records=[
{
  "name":"sanjay",
  "city":"nainital",
  "no":"8826279062"
},
{
  "name":"anand",
  "city":"delhi",
  "no":"9999999999"
},
{
  "name":"yogi",
  "city":"pta nahi",
  "no":"123456789"
},
{
  "name":"akashy",
  "city":"delhi",
  "no":"987654321"
},
{
  "name":"ravisir",
  "city":"mp",
  "no":"4455667788"
},
{
  "name":"gaurav",
  "city":"gurgaon",
  "no":"1212121212"
}

]

$scope.order = function(x) {
        $scope.orderByThis = x;
    }

  });
</script>
<body>

<div ng-app="tableApp" ng-controller="tableCtrl"> 
<table>
<tr>
  <th>
  <input type="text" placeholder="search by index" ng-model="number">

  </th>
   <th>
  <input type="text" placeholder="search by name" ng-model="name.name">
  <input type="button" ng-click="order('name')" value="orderBy">

  </th>
   <th>
  <input type="text" placeholder="search by city" ng-model="name.city">
  <input type="button" ng-click="order('city')" value="orderBy">
  </th>
   <th>
  <input type="text" placeholder="search by no" ng-model="name.no">
  <input type="button" ng-click="order('no')" value="orderBy">
  </th>
</tr>
  <tr ng-repeat="x in records | filter:name|filter:number|orderBy:orderByThis">

    <td>{{ $index + 1}}</td>
    <td>{{ x.name  }}</td>
    <td>{{ x.city }}</td>
    <td>{{ x.no }}</td>
  </tr>
</table>

</div>

</body>
</html>
